<link rel="stylesheet" href="{{ asset('build/app.css') }}">
<title>
{% block title %}
    Admin section
{% endblock %}
</title>
{% block body %}
    <div class="text-center">
        <h1>This is the admin page</h1>
    </div>
    <a class="btn btn-outline-secondary float-lg-left" href={{ path("main") }}>
        Take me back to the main page
    </a>
    <div class="container">
        {% for label, flashes in app.session.flashbag.all %}

            {% for flash in flashes %}
                <div class="alert">
                    {{ flash }}
                </div>
            {% endfor %}

        {% endfor %}

        <table class="table table-striped" style=" margin:0 auto;">

            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date and time</th>
                <th scope="col">Email</th>
                <th scope="col">IP address</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for email in emails %}
                <tr>
                    <th scope="row">{{ email.id }}</th>
                    <td>{{ email.datetime }}</td>
                    <td>{{ email.email }}</td>
                    <td>{{ email.ip }}</td>
                    <td>
                        <a href={{ path('emaildelete')}}?{{"email="~email.id}}> Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-outline-info" href={{ path('export')}}>
                Export database as CSV
        </a>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

